<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Movies List</title>
    </head>
    <body>
        <h1>Movies List<h1>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>DURATION</th>
                    <th>RELEASE YEAR</th>
                    <th>GENRE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="movie : ${list}">
                    <td th:text="${movie.title}"></td>
                    <td th:text="${movie.duration}"></td>
                    <td th:text="${movie.release}"></td>
                    <td th:text="${movie.genre}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>